<div class="menu-wrapper">
  <p-menubar [model]="menuItems" [breakpoint]="'0px'">
    <!-- <ng-template pTemplate="item" let-item>
      <a class="p-menuitem-link" [ngClass]="{ 'active-menu': activeTab === item.value }" (click)="item.command($event)">
        <span [class]="item.icon"></span>
        <span class="p-menuitem-text ml-2">{{ item.label }}</span>
      </a>
    </ng-template> -->
  </p-menubar>
</div>

<div class="container-bordered">

  <div class="text-center">
    <h1 class="txt-titulo">
      <i class="{{ iconoActual }} txt-titulo" style="font-size: 2.5rem"></i> {{ tituloActual }}
    </h1>
  </div>

  <!-- SelectButton - Full width en móvil, auto en desktop -->
  <!-- <div class="w-full md:w-auto">
      <p-selectbutton [options]="activityOptions" [(ngModel)]="tabValue" optionLabel="texto"
        (onChange)="onSelectionChange($event)">
        <ng-template #item let-item>
          <p>{{item.texto}}</p>
        </ng-template>
      </p-selectbutton>
    </div> -->
  <div style="display: flex; gap: 1rem; padding-top: 20px;">
    <div style="flex: 1;">

      <!-- <p-select [options]="materias" [(ngModel)]="selectedMateria" [checkmark]="true" optionLabel="name"
        optionValue="id" [showClear]="false" (onChange)="onMateriaChange($event)" placeholder="Filtrar materia"
        class="w-full md:w-56" /> -->
      <p-iftalabel styleClass="w-full">
        <p-select [(ngModel)]="selectedMateria" inputId="filtro-materias" [options]="materias" optionLabel="nombre"
          optionValue="id" [showClear]="false" (onChange)="onMateriaChange($event)" class="w-full"
          styleClass="w-full" />
        <label for="filtro-materias">Materia</label>
      </p-iftalabel>
    </div>
    <div style="flex: 1;">
      <p-iftalabel styleClass="w-full">
        <p-select [(ngModel)]="selectedFecha" inputId="filtro-fechas" [options]="fechas" optionLabel="name"
          optionValue="id" [showClear]="false" (onChange)="onFechaChange($event)" class="w-full" styleClass="w-full" />
        <label for="filtro-fechas">Fechas</label>
      </p-iftalabel>
    </div>
  </div>

  <div *ngIf="tabValue === 'tareas'">
    <p-accordion styleClass="striped-accordion" [activeIndex]="selectedTarea" [multiple]="false">
      <p-accordion-panel *ngFor="let item of tareasFiltered; let i = index" [value]="item.id"
        [ngStyle]="getAccordionStyle(i)">
        <p-accordion-header>
          <div class="w-1/4">
            <p-tag class="tag2">
              <div class="flex items-center gap-2 px-1">
                <span class="text-base">
                  🗓️
                </span>
                <span class="text-base txt-blue">
                  {{ formatearFechas(item.dateFormatted) }}
                </span>
              </div>
            </p-tag>
          </div>
          <div class="w-1/3">
            <p-tag class="tag3" [severity]="item.severity">
              <div class="flex items-center gap-2 px-1">
                <!-- <span class="text-base">
                  ✍🏽
                </span> -->
                <span class="text-base">
                  {{ item.materia }}
                </span>
              </div>
            </p-tag>
          </div>
          <div class="w-1/3">
            {{ item.nombre }}
            <p class="txt-blue1">{{ item.subtitulo }}</p>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <!-- <p class="m-0" style="white-space: pre-wrap;">{{ item.detalles }}</p> -->
          <div [innerHTML]="item.detalles"></div>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>

  <div *ngIf="tabValue === 'expo'">
    <p-table [value]="exposFiltered" stripedRows [tableStyle]="{ 'width': '100%' }">
      <ng-template #header>
        <tr>
          <th [style]="{'width':'20%'}">Fecha</th>
          <th [style]="{'width':'20%'}">Materia</th>
          <th [style]="{'width':'20%'}">Integrantes</th>
          <th [style]="{'width':'40%'}">Tema</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <p-tag class="tag2">
              <div class="flex items-center gap-2 px-1">
                <span class="text-base txt-blue">
                  <i [class]="item.done ? 'pi pi-check' : 'pi pi-calendar'"></i>
                  <!-- {{ item.done ? '✅' : '🗓️' }} -->
                </span>
                <span class="text-base txt-blue">
                  {{ formatearFechas(item.dateFormatted) }}
                </span>
              </div>
            </p-tag>
          </td>
          <td>
            <p-tag class="tag3" [severity]="item.severity">
              <div class="flex items-center gap-2 px-1">
                <!-- <span class="text-base">
                  ✍🏽
                </span> -->
                <span class="text-base">
                  {{ item.materia }}
                </span>
              </div>
            </p-tag>
          </td>
          <td>
            <div class="users-list">
              <div *ngFor="let user of item.integrantes" class="user-item">

                <div class="user-info">
                  <div class="flex flex-col md:flex-row items-center gap-2 md:gap-3">
                    <div class="md:w-6">
                    </div>
                    <p-avatar [image]="user.foto" shape="circle" size="normal"></p-avatar>
                    <div class="md:w-6 text">
                      <span class="font-bold text-center md:text-center txt-blue">{{ user.compa }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div>Grupo # {{ item.grupo }}</div>
            <div [innerHTML]="item.nombre"></div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

  <div *ngIf="tabValue === 'predicas'" class="w-full">
    <p-table [value]="predicasFiltered" stripedRows [tableStyle]="{ 'width': '100%' }">
      <ng-template #header>
        <tr>
          <th>Pastor</th>
          <th>Libro</th>
          <th>Fecha</th>
          <th>Materia</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <div class="flex flex-col md:flex-row items-center gap-2 md:gap-3">
              <p-avatar [image]="item.foto" shape="circle" size="normal"></p-avatar>
              <span class="font-bold text-center md:text-left txt-blue">{{ item.compa }}</span>
            </div>
          </td>
          <td>{{ item.nombre }}</td>
          <td>
            <p-tag class="tag2">
              <div class="flex items-center gap-2 px-1">
                <span class="text-base">
                  <i [class]="item.done ? 'pi pi-check' : 'pi pi-calendar'"></i>
                  <!-- {{ item.done ? '✅' : '🗓️' }} -->
                </span>
                <span class="text-base txt-blue">
                  {{ formatearFechas(item.dateFormatted) }}
                </span>
              </div>
            </p-tag>

          </td>
          <td>
            <p-tag class="tag3" [severity]="item.severity">
              <div class="flex items-center gap-2 px-1">
                <!-- <span class="text-base">
                  ✍🏽
                </span> -->
                <span class="text-base">
                  Panorama
                </span>
              </div>
            </p-tag>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="tabValue === 'examenes'" class="w-full">
    <p-table [value]="examenFiltered" stripedRows [tableStyle]="{ 'width': '100%' }">
      <ng-template #header>
        <tr>
          <th [style]="{'width':'30%'}">Fecha</th>
          <th [style]="{'width':'40%'}">Materia</th>
          <th [style]="{'width':'30%'}">Nombre</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <p-tag class="tag2">
              <div class="flex items-center gap-2 px-1">
                <span class="text-base txt-blue">
                  <i [class]="item.hoy > item.dateFormatted ? 'pi pi-check' : 'pi pi-calendar'"></i>
                  <!-- {{ item.done ? '✅' : '🗓️' }} -->
                </span>
                <span class="text-base txt-blue">
                  {{ formatearFechas(item.dateFormatted) }}
                </span>
              </div>
            </p-tag>
          </td>
          <td>
            <p-tag class="tag3" [severity]="item.severity">
              <div class="flex items-center gap-2 px-1">
                <!-- <span class="text-base">
                  ✍🏽
                </span> -->
                <span class="text-base">
                  {{ item.materia }}
                </span>
              </div>
            </p-tag>
          </td>
          <td>
            {{ item.nombre }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>